<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>My Portfolio</title>
</head>
<body>
    <p>
        <a class="btn btn-success btn-lg" href="/web_dev_backend_flask/Graffiti-Art.html" role="button">Graffiti-Art</a>
        <a class="btn btn-success btn-lg" href="/web_dev_backend_flask/myBoogle.html" role="button">myBoogle</a>
        <a class="btn btn-success btn-lg" href="/web_dev_backend_flask/Fakebook.html" role="button">Fakebook</a>

    </p>
</body>
</html>